# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Packages/
*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/

# Xcode
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Editors
.idea/
.vscode/

# Local workspace and agent caches
.workspace/
